# Node modules
node_modules/

# TypeScript build output
dist/
*.tsbuildinfo

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv (gizli API key ve port bilgileri)
.env

# IDE ve OS dosyaları
.vscode/
.idea/
.DS_Store
Thumbs.db
